footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p{
    color: #292F36;
    width: 100%;
    height: 99px;
    text-align: justify;
    font-size: 16px;
}
h2{
    color: #292F36;
}
a{
    text-decoration: none;
    color:#4D5053;
  }
.social-media{
    width: 225px;
    height: 23px;
}
.element-pai-footer{
    width: 70%;
    height: 370px;
    display: flex;
    margin: auto;
}
.element-pai-media{
    width:32%;
    margin-right: 9px;
}
.conatato{
    width: 258px;
    height: 281px;
    text-align: left;
}
.Pages-footer{
    height: 302px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.copy{
    width: 62%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/*ipad*/

@media screen and (max-width:1040px){
    footer{
        justify-content: center;
        align-items: center;
    }
    .element-pai-footer{
        gap: 30px;
        width: 100%;
    }
    .copy{
        width: 90%;
    }
}

@media screen and (max-width:800px){
    .element-pai-footer{
        flex-direction: column;
        align-items: start;
        gap: 30px;
        height: 600px;
        width: 380px;
    }
    .conatato{
        margin-top: 20px;
    }
    .Pages-footer{
        margin-top: 20px;
    }
    .copy{
        width: 100%;
        position: relative;
        top: 150px;
        padding: 0 10px;
    }
    .element-pai-media{
        width: 100%;
    }
}