.dvBox1{
    width: 62.5%;
    height: 629px;
    margin: 150px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition:500ms;
}
.dvBox2{
    width: 603px;
    height: 146px;
    font-size: 30px;
    text-align: center;
    font-family: "DM Serif Display",serif;
    color: #292F36;
    transition:500ms;
}
.dvBox3{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 66%;
    height: auto;
    margin-top: 50px;
    gap: 10px;
    color: #292F36;
    transition:500ms;
}
.form{
    width: 100%;
    height: 100%;
}
.dvInputs{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    transition:500ms;
}
#inputName,#inputEmail{
    outline: none;
    width: 48%;
    height: 45px;
    border: none;
    color: #4D5053;
    border-bottom: 1px solid #292F36;
    font-size: 21px;
    transition:500ms;
}
.caixaDeTexto{
    margin-top: 27px;
    width: 100%;
    height: 320px;
    transition:500ms;
}
.IdeiaEscrita{
    border: none;
    width: 100% !important;
    height: 320px !important;
    resize: none;
    color: #4D5053 !important;
    outline: none;
    padding: 4px;
    border-bottom: 1px solid #292F36;
    font-size: 21px;
    transition:500ms;
}
.dvButton{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
}
#bt{
    height: 78px;
    padding: 12px 57px;
    margin-top: 4px;
}
@media screen and (max-width:1300px){
    .dvBox1{
        width: 80%;
        transition:500ms;
    }
    .dvBox2{
        width: 80%;
        transition:500ms;
    }
    .dvBox3{
        width: 80%;
        transition:500ms;
    }
}
@media screen and (max-width:800px){
    .dvBox1{
        width: 95%;
        transition: 500ms;
}
    .dvBox2{
        width: 95%;
        transition: 500ms;
    }
    .dvBox3{
        width: 95%;
        gap: 40px;
        transition: 500ms;
    }
}
@media screen and (max-width:600px){
    .dvInputs{
        flex-direction: column;
        align-items: center;
        gap: 22px;
        transition: 500ms;
    }
    #inputName,#inputEmail{
        width: 100%;
        height: auto;
        padding: 0 5px;
        transition: 500ms;
    }
}