.button{
    border-radius: 10px;
    border: none;
    column-gap: 10px;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    padding: 25px 50px;
    transition: background-color 300ms ease;
}
/*primary*/
.button.primary{
    background-color: #0c70f2;
    color: white;
}
.button.primary:hover{
    background-color: #073c83;
    color: white;
}
/*secundary*/
.button.secondary{
    background-color: #1d1d1d;
    color: white;
}.button.secondary:hover{
    background-color: #3a3a3a;
    color: white;
}
/*outline*/
.button.outline{
    background-color: white;
    color: #0c70f2;
    border: 2px solid #0c70f2;
}
.button.outline:hover{
    background-color: #0c70f2;
    color: white;
}
/*disabled*/
.button:disabled,.button:disabled>:hover{
    background-color: #88888894;
    color: #5c5c5c;
    pointer-events: none;
}
*{
    font-family: "Playfair Display", serif;
}